html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

:root {
    
    --primary-color: #fff;
    

    font-size: 62.5%;
    /* 1rem = 10px */

    --nav-height: 7.2rem;
}

.img-background-1 {
    background: url("../static/mountains-universe-1.svg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

 nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: var(--nav-height);
    
    position: fixed;
    top: 0;
    max-width: 100vw;
    

}


nav a {
    color: #C4C4CC;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 22px;
    

}


.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
    left: 7.2em;
    top: 0.4em;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.active {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: var(--primary-color);
}

main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    color: var(--primary-color);
    gap: 24px;
    
}

main h1 {
    font-weight: 700;
    font-size: 48px;
}

.button a {
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 0.2em;
    padding: 0.5em 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    

}

